<h3>New Car:</h3>
<form role="form" enctype="multipart/form-data" method="post" id="new_car">
    <div>{{input type="text" placeholder="Brand" value=model.brand}}</div>
    <div>{{input type="text" placeholder="Model" value=model.model}}</div>
    <div>{{input type="file" name="image" id="image"}}</div>
    <button {{action 'add'}}>Add</button>
</form>
<h3>Cars:</h3>
<div>
    <ul>
        {{#each car in model}}
            <li>{{#link-to 'car' car.id}}{{car.full_name}}{{/link-to}}</li>
        {{/each}}
    </ul>
</div>
